/* Enter your custom styles here */
/* Target the Page header bar */

.ICTBCustom>.sapMITH {
    background: linear-gradient(90deg, #0057d2 0%, rgba(0, 87, 210, 0.5) 75%, #0057d2 100%), lightgray url(../images/GlobalActionBar.jpg) 0% 0% repeat;
    background-size: cover;
    color: white;
}

.ICTBCustom .sapMITBText {
    font-size: 1.1rem !important;
    font-weight: 600;
    color: whitesmoke !important;
    /* smokewhite */
}

/* Selected tab text */
.ICTBCustom .sapMITBFilter.sapMITBSelected .sapMITBText {
    color: #ffffff !important;
    /* pure white */
    font-weight: 600;
    /* stronger emphasis */
}

.ICTBCustom .sapMITBSelected .sapMITBContentArrow::after {
    background: white !important;
}

/* Increase Page Title font size */
.MainPage .sapMTitle {
    font-size: 1.2rem !important;
    /* adjust as needed */
    font-weight: 600;
    /* optional: make it bolder */
}
